/* @import "~bootstrap/scss/bootstrap"; */
body {
    background-color: lightgray;
    font-weight: bold;
}
.homeConatainer{
    display: flex ;
    justify-content: space-between;
    padding: 2em;
    margin: 0 auto;
}
.color{
    color: white;
    font-weight: bold;
}
.result{
    text-align: center;
    font-size: x-large;
}
.type{
    padding: 1em !important;
    margin: 1em !important;
    
}
.number{
    flex: 1;
    align-self: center;
    text-align: center;
}
.login{
    width: 25%;
    text-align: center;
    margin: 12em auto;
}
#can{
    width: 50%;
    margin: 0 auto;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid grey; /* Blue */
    border-radius: 50%;
    width: 120px;
    margin: 0 auto;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }